.history {
  padding: 16px;
}

.time-stamp {
  color: #64748b;
  font-weight: 600;
  margin-bottom: 15px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.domain-details-container {
  display: flex;
  align-items: flex-start;
  margin-right: 32px;
}
.domain-logo {
  width: 28px;
  margin-right: 16px;
}
.title {
  color: #475569;
  font-weight: 500;
  font-size: 16px;
}
.domain-url {
  color: #64748b;
  font-size: 16px;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}
.delete-icon {
  width: 22px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .history {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .content {
    flex-grow: 1;
  }
  .time-stamp {
    margin: unset;
    margin-right: 48px;
  }
  .domain-details-container {
    align-items: center;
    flex-grow: 1;
  }
  .domain-content {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }
}
